#Titulo {
    font-family: sans-serif;
    color: burlywood;
    margin-top: auto;
    text-align: center;
}

fieldset {
    border: 6;
}

body {
    background-color: #0002;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
}

img {
    width: 50px;
    padding-right: 100px;
    border-radius: 100px;
}